<p>
  <strong>Название:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Дата начала</strong>
  <%= @event.start_date %>
</p>
<p>
  <strong>Дата окончания:</strong>
  <%= @event.end_date %>
</p>
<%= link_to 'Back', events_path %>